<div class="container">
  <nav class="navbar navbar-expand-sm navbar-light fixed-top py-4">
    <div class="container">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <a href="/" class="navbar-brand">
        <table class="table_style striped mb-2">
          <thead>
            <tr>
              <th scope="row" class="d-inline align-middle"></th>
              <td class="text-primary" style="font-size: 1.5rem;">TRIO</td>
              <td style="font-size: 1.5rem">-</td>
              <td class="text-success" style="font-size: 1.5rem;">GENER</td>
              <td class="text-danger" style="font-size: 1.5rem;">ATION</td>
            </tr>
          </thead>
        </table>
      </a>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="#home">Home</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="#categories">Categories</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="#about">About</a>
          </li>

        </ul>
      </div>
    </div>
  </nav>
</div>